.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.gallery__item {
  flex-basis: calc(33.333% - 16px);
}

.gallery__link {
  display: block;
  text-decoration: none;
}

.gallery__image {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.gallery__image:hover {
  transform: scale(1.05);
}
/*Коммент*/
